.new-item {
  border: 1px solid #000;
  padding: 0 1em 1em 1em;
  label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  button {
    margin-top: 1em;
  }
  .radios {
    display: block;
    border: none;
    margin: 0.667em 0;
    label {
      display: inline;
      margin-right: 1em;
    }
    input {
      display: inline;
      position: relative;
      bottom: 2px;
    }
    #swim {
      margin-left: 0;
    }
  }
  .text {
    width: 24%;
  }
  .notes {
    display: block;
  }
  label[for$="units"] {
    margin-left: 1em;
  }
  label[for$="date"] {
    display: block;
    margin: 0.667em 0 3px 0;
  }
  label[for$="comments"] {
    margin: 0.667em 0 3px 0;
  }
  input {
    margin-bottom: 0.5em;
    fieldset & {
      display: inline;
    }
    &[type="number"] {
       width: 5em;
    }
  }
}

